/* MISCELANEOUS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  padding-left: 0px;
  padding-right: 0px; }

section {
  display: flex; }

ul {
  list-style-type: none;
  padding: 0px; }

ol {
  padding: 0px; }

a {
  text-decoration: none;
  color: #0065b7
  display: inline-block; }

body {
  font-family: "Raleway", sans-serif
  background-color: #f5f5f5
  color: #0065b7 }

.flex__center {
  display: flex;
  justify-items: center;
  justify-content: center; }

.flex__left {
  display: flex;
  justify-items: left;
  justify-content: left; }

.flex__right {
  display: flex;
  justify-items: right;
  justify-content: right; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.formato-img {
  width: 100%; }
  .formato-img__reloj {
    width: 50%; }
  .formato-img__camioneta {
    width: 100%;
    animation-name: efectoCamioneta;
    animation-timing-function: ease-out;
    animation-duration: 8s;
    animation-delay: 5s;
    position: relative;
    padding: 2rem }

.formato-txt {
  margin: auto;
  width: 100%; }
  .formato-txt p {
    padding: 1rem
    text-align: justify; }
  .formato-txt h3 {
    padding: 1rem }

.formato-lista {
  width: 100%; }

@keyframes efectoCamioneta {
  0% {
    left: -1080px; }
  100% {
    left: 0px; } }

/* PARTIALS */
header {
  background: url("./public/img/header.jpg"), #f5f5f5
  background-size: cover;
  background-attachment: fixed;
  min-height: 75vh }
  header .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 1rem0px; }
  header .logo {
    min-height: 21vh; }
  header .menu {
    flex-basis: 50%;
    justify-content: end; }
    header .menu__item {
      font-weight: bold;
      text-shadow: 1px 1px 2px #f5f5f5), -1px -1px 2px #f5f5f5
      padding: 1rem0px;
      width: 100%; }
    header .menu__link {
      font-weight: bold;
      text-shadow: 1px 1px 2px #f5f5f5), -1px -1px 2px #f5f5f5
      padding: 1rem0px;
      width: 100%; }
      header .menu__link:hover {
        text-decoration: underline 3px #f5f5f5 }
  header .paginaActiva {
    text-decoration: underline 3px #f5f5f5 }

footer {
  background: #0065b7;
  padding: 2rem0 2rem0;
  margin: auto;
  letter-spacing: 2px; }

.sub_contenedor_footer {
  justify-items: center;
  justify-content: center;
  margin: 1remauto; }
  .sub_contenedor_footer h4 {
    color: #fff;
    margin-bottom: 0.2rem }
  .sub_contenedor_footer p {
    color: #fff; }

.redes ion-icon {
  font-size: 2.4em }

.titulo_final {
  text-align: center;
  font-size: 2.4em
  margin: 1rem0 0 0;
  color: #fff; }

/* VIEWS */
.camioneta {
  width: 100%;
  animation-name: efectoCamioneta;
  animation-timing-function: ease-out;
  animation-duration: 8s;
  animation-delay: 5s;
  position: relative;
  padding: 2rem }

.servicios-item {
  padding: 1rem
  text-align: center;
  justify-content: center;
  transition: all 2s;
  border: 1px solid #0065b7 }
  .servicios-item:hover {
    font-size: 1.6em
    font-weight: bold;
    background: linear-gradient(to top, rgba(0, 101, 183, 0.5)), #f5f5f5}

.container__galeria {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr
  grid-template-rows: repeat(2, 1fr
  grid-template-areas: 'img1	img2	img3'
 'img4	img5	img6'; }
  .containealeria img {
    width: var(25vh
    transition: 0.5s ease-in-out; }
    .containealeria img:hover {
      width: var(50vh
      transition: width 0.5s ease-in-out; }
  .container__galeria .img1 {
    grid-area: img1; }
  .container__galeria .img2 {
    grid-area: img2; }
  .container__galeria .img3 {
    grid-area: img3; }
  .container__galeria .img4 {
    grid-area: img4; }
  .container__galeria .img5 {
    grid-area: img5; }
  .container__galeria .img6 {
    grid-area: img6; }

@media only screen and (max-width: 1080px) {
  .container__galeria {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr
    grid-template-rows: repeat(3, 1fr
    grid-template-areas: 'img1 img2'
 'img3 img4'
 'img5 img6'; }
    .container__galeria img {
      width: vavh
      transition: 0.5s ease-in-out; }
      .container__galeria img:hover {
        width: var(50vh
        transition: width 0.5s ease-in-out; } }

@media only screen and (max-width: 520px) {
  .container__galeria {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-temp-rows: repeat(6, 1fr
    grid-template-areas: 'img1'
 'img2'
 'img3'
 'img4'
 'img5'
 'img6'; }
    .container__galeria img {
      width: var(25vh
      transition: 0.5s ease-in-out; }
      .container__galeria img:hover {
        widthr(50vh
        transition: width 0.5s ease-in-out; } }

.container__nosotros {
  text-align: justify;
  letter-spacing: 1.5px;
  font-weight: bold; }
  .container__nosotros h3 {
    padding: var(2rem }

form {
  width: 100%; }
