/* footer.scss START */
footer {
	background: $colorPrincipal;
	letter-spacing: 2px;
}

.sub_contenedor_footer {
	justify-items: center;
	justify-content: center;

	h4 {
		color: $colorSecundario;
	}

	p {
		color: $colorSecundario;
	}
}

.redes ion-icon {
	font-size: $text-lg;
}

.titulo_final {
	font-size: $text-lg;
	color: $colorSecundario;
}
/* footer.scss START */
