footer {
	background: $colorPrincipal;
	padding: $padding-md $padding-md;
	margin: auto;
	letter-spacing: 2px;
}

.sub_contenedor_footer {
	justify-items: center;
	justify-content: center;
	margin: $padding-sm auto;

	h4 {
		color: $colorSecundario;
		margin-bottom: $padding-xsm
	}

	p {
		color: $colorSecundario;
	}
}

.redes ion-icon {
	font-size: $text-lg;
}

.titulo_final {
	text-align: center;
	font-size: $text-lg;
	margin: $padding-sm;
	color: $colorSecundario;
}
