header {
	background: url('..//public/img/header.jpg'), $colorSecundario;
	background-size: cover;
	background-attachment: fixed;
	min-height: $section-lg;

	.navbar {
		justify-content: space-between;
		align-items: center;
		padding: $padding-sm 0px;
	}

    .logo {
        min-height: 21vh;
    }

    .menu {
        flex-basis: 50%;
        justify-content: end;

        &__item {
            font-weight: bold;
            text-shadow: 1px 1px 2px $colorSecundario, -1px -1px 2px $colorSecundario;
            padding: $padding-sm 0px;
            width: 100%;
        }
        
        &__link{
            font-weight: bold;
            text-shadow: 1px 1px 2px $colorSecundario, -1px -1px 2px $colorSecundario;
            padding: $padding-sm 0px;
            width: 100%;
            
            &:hover {
                text-decoration: underline 3px $colorSecundario;
            }
        }
    }

    .paginaActiva {
        text-decoration: underline 3px $colorSecundario;
    }
}
