/* header.scss START */
header {
	background: url('..//public/img/header.jpg'), $colorSecundario;
	background-size: cover;
	background-attachment: fixed;
	min-height: $section-lg;

	.navbar {
		justify-content: space-between;
		align-items: center;
	}

    .logo {
        min-height: 21vh;
    }

    .menu {
        flex-basis: $max-width/2;
        justify-content: end;

        &__item {
            font-weight: bold;
            text-shadow: 1px 1px 2px $colorSecundario, -1px -1px 2px $colorSecundario;
            width: $max-width;
        }
        
        &__link{
            font-weight: bold;
            text-shadow: 1px 1px 2px $colorSecundario, -1px -1px 2px $colorSecundario;
            width: $max-width;
            
            &:hover {
                text-decoration: underline 3px $colorSecundario;
            }
        }
    }

    .paginaActiva {
        text-decoration: underline 3px $colorSecundario;
    }
}
/* header.scss END */
