/* _servicios.scss START */
.servicios-item {
	text-align: center;
	justify-content: center;
	transition: all 2s;
	border: 1px solid $colorPrincipal;
	flex: 0 0 auto;
	width: $max-width;

	&:hover {
		font-size: $text-md;
		font-weight: bold;
		background: linear-gradient(to top, $colorPrincipalAl50, $colorSecundario);
	}
}

@media (min-width: 720px) {
	.servicios-item {
		width: $max-width/2;
	}
}

@media (min-width: 1024px) {
	.servicios-item {
		width: $max-width/3;
	}
}
/* _servicios.scss END */
