/* _mixins.scss START */
%flex {
	display: flex;
	flex-wrap: wrap;

	& > * {
		box-sizing: border-box;
		flex-shrink: 0;
		width: $max-width;
		max-width: $max-width;
	}
}

%cien {
	width: $max-width;
}

/* uso de mixin */
@mixin justify($content) {
	justify-items: $content;
	justify-content: $content;
	text-align: $content;
}

/* uso de extend */
/* uso de get-map */
.container {
	@extend %cien;
	padding-right: map-get($option-mesure,-sm);
	padding-left: map-get($option-mesure,-sm);
	margin-right: auto;
	margin-left: auto;
}

.center {
	@include justify(center);
}

.left {
	@include justify(left);
}

.right {
	@include justify(right);
}

.flex-row {
	@extend %flex;
}

.flex-column {
	@extend %flex;
	flex-direction: column;
}

.formato-img {
	@extend %cien;

	&__reloj {
		width: $max-width/2;
	}

	/* uso de get-map */
	&__camioneta {
		width: 100%;
		animation-name: efectoCamioneta;
		animation-timing-function: ease-out;
		animation-duration: 8s;
		animation-delay: 5s;
		position: relative;
		padding: map-get($option-mesure,-md);
	}
}

.formato-txt {
	@extend %cien;

	/* uso de get-map */
	p {
		padding: map-get($option-mesure,-sm);
		text-align: justify;
	}
}

.formato-lista {
	@extend %cien;
}



@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

@media (min-width: 576px) {
	.small {
	flex: 1 0 0%;
}}
/* _mixins.scss END */