$colorPrincipal: #0065b7;
$colorSecundario: #f5f5f5;
$colorPrincipalAl50: rgba(0, 101, 183, 0.5);
$fontPrincipal: 'Raleway', sans-serif;
$fontSecundaria: Verdana, Helvetica;
$text-xlg: 3em;
$text-lg: 2.4em;
$text-md: 1.6em;
$text-sm: 1.2em;
$section-xlg: 100vh;
$section-lg: 75vh;
$section-md: 50vh;
$section-sm: 25vh;
$padding-lg: 3rem;
$padding-md: 2rem;
$padding-sm: 1rem;
$padding-xsm: 0.2rem;
$bs-body-font-size: 1.3rem;
