/* _variables.scss START */
$colorPrincipal: #0065b7;
$colorSecundario: #f5f5f5;
$colorTerciario: #ced4da;
$colorPrincipalAl50: rgba(0, 101, 183, 0.5);
$fontPrincipal: 'Raleway', sans-serif;
$fontSecundaria: Verdana, Helvetica;
$text-xlg: 3em;
$text-lg: 2.4em;
$text-md: 1.6em;
$text-sm: 1.2em;
$section-xlg: 100vh;
$section-lg: 75vh;
$section-md: 50vh;
$section-sm: 25vh;
$option-mesure: (-xxl: 3.5rem, -xl: 2.95rem, -lg: 2.4rem, -md: 1.85rem, -sm: 1.3rem, -xsm: 0.75rem, -xxsm: 0.2rem, -cero: 0rem, -auto: auto);
$max-width: 100%;

/* uso de each */
@each $name, $mesure in $option-mesure {
	.m-BOTO-#{$name} {
		margin-bottom: $mesure;
		margin-top: $mesure;
	}
}

/* uso de each */
@each $name, $mesure in $option-mesure {
	.m-RL-#{$name} {
		margin-right: $mesure;
		margin-left: $mesure;
	}
}

/* uso de each */
@each $name, $mesure in $option-mesure {
	.p-BOTO-#{$name} {
		padding-bottom: $mesure;
		padding-top: $mesure;
	}
}

/* uso de each */
@each $name, $mesure in $option-mesure {
	.p-RL-#{$name} {
		padding-right: $mesure;
		padding-left: $mesure;
	}
}
/* _variables.scss END */
